<div class="page-content-wrapper">
   <!-- BEGIN CONTENT BODY -->
   <div class="page-content">
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->
      <h1 class="page-title"> <%= t(:grades) %></h1>
      <!-- END PAGE TITLE-->
      <!-- END PAGE HEADER-->
      <div class="row">
         <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
               <div class="portlet-title">
                  <div class="caption">
                     <i class="fa fa-cogs"></i><%= t(:grade_list) %>
                  </div>
               </div>
               <div class="portlet-body flip-scroll">
                  <table class="table table-bordered table-striped table-condensed flip-content">
                     <thead class="flip-content">
                        <tr>
                           <% if current_user.has_role? :admin %>
                           <th width="10%"> <%= t(:id) %> </th>
                           <% end %>
                           <th> <%= t(:grade) %> </th>
                           <th> <%= t(:category) %> </th>
                           <th> <%= t(:course) %> </th>
                           <th class="numeric"> <%= t(:vacancy) %> </th>
                           <th class="numeric"> <%= t(:course_load) %> </th>
                           <th> <%= t(:action) %> </th>
                        </tr>
                     </thead>
                     <tbody>
                        <% @grades.each do |grade| %>
                        <tr>
                           <% if current_user.has_role? :admin %>
                           <td> <%= grade.id %> </td>
                           <% end %>
                           <td> <%= grade.name %></td>
                           <td> <%= grade.category%></td>
                           <td> <%= grade.product_name%></td>
                           <td> <%= grade.vacancy%></td>
                           <td> <%= grade.course_load %></td>
                           <td>
                              <%= link_to(grade_path(grade), class: "btn btn-circle btn-icon-only blue") do %>
                              <i class="fa fa-eye" aria-hidden="true"></i>
                              <% end %>
                              <%= link_to(edit_grade_path(grade), class: "btn btn-circle btn-icon-only green") do %>
                              <i class="fa fa-edit" aria-hidden="true"></i>
                              <% end %>
                              <%#= link_to t(:delete), place_path(place), method: :delete,
                                 data: {confirm: t(:delete_person?)}, class: 'btn btn-danger' %>
                           </td>
                        </tr>
                        <% end %>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
            <!-- BEGIN SAMPLE TABLE PORTLET-->
         </div>
      </div>
   </div>
</div>
</div>
