<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @grade.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Vacancy:</strong>
  <%= @grade.vacancy %>
</p>

<p>
  <strong>Course load:</strong>
  <%= @grade.course_load %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
