<script type="text/javascript">
   $(document).ready(function() {
     $("#select2-instant-message").select2();
   });
</script>
<div style="margin-top: 0;padding-left: 17%;background-color: #fff;">
   <div class="row">
      <div class="col-md-12">
         <!-- BEGIN VALIDATION STATES-->
         <div class="portlet-form bordered">
            <div class="container-fluid">
               <div class="portlet-body">
                  <div class="col-lg-offset-1 col-lg-11">
                     <%= semantic_form_for [@phonable, @phone] do |ff| %>
                     <div class="form-body">
                        <div class="form-group">
                           <%= ff.label :number, "#{t(:phone_number)}: #{t(:example_number_format_letter)}" %>
                        </div>
                        <div>
                           <%= ff.text_field :number, class: "form-control", placeholder: "#{I18n.t(:add_phone_number)}: #{t(:example_number_format)}" %>
                        </div>
                        <div class="form-group">
                           <div class="control-label">
                              <%= ff.label :kind %>
                           </div>
                           <div>
                              <%= ff.select :kind, options_for_enum(Phone.new, :kind), {}, { class: 'form-control' } %>
                           </div>
                        </div>
                        <div class="form-group">
                           <%= ff.label :main %>
                           <%= ff.check_box :main, {}, true, false %>
                        </div>
                        <%= ff.input :instant_message, as: :select, input_html: { class:'form-control', id: 'select2-instant-message',
                           multiple:'multiple' }, collection: Phone::INSTANT_MESSAGES_OPTIONS.invert %>
                     </div>
                     <div class="form-actions">
                        <div class="row">
                           <div class="col-md-9">
                              <%= ff.submit t(:create_phone), class: 'btn btn-primary' %>
                           </div>
                        </div>
                     </div>
                     <% end %>
                  </div>
               </div>
               <div></div>
            </div>
         </div>
      </div>
   </div>
</div>
