
<tr>
   <td> <%= t(:main) if phone.main %> </td>
   <td><%= Phonelib.parse("#{phone.number}").full_international %></td>
   <td><%= phone.kind %></td>
   <td><% if phone.instant_message %>
     <%= phone.instant_message_to_array %>
   <% end %></td>
   <td ><% if phonable == @person %>
     <%= link_to t(:edit), edit_person_phone_path(phonable, phone), class: 'btn btn-info' %>
     <%= link_to t(:delete), person_phone_path(phonable, phone), method: :delete,
     data: { confirm: t(:delete_phone?) }, class: 'btn btn-danger' if current_user.has_role? :admin %>
   <% else %>
     <%= link_to t(:edit), edit_place_phone_path(phonable, phone), class: 'btn btn-info' %>
     <%= link_to t(:delete), place_phone_path(phonable, phone), method: :delete,
     data: { confirm: t(:delete_phone?) }, class: 'btn btn-danger' if current_user.has_role? :admin %>
   <% end %>
  </td>

</tr>
