<div class="container">
  <div align="center">
    <div class="col-6">
    <%= form_for(@person, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="type-person-no-display">
        <%= f.select :type, ['Company'] if @person.new_record? %>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :name, "#{t(:trading_name)}" %>
        </div>
        <div>
          <%= f.text_field :name, class: "form-control", placeholder: "#{t(:enter_trading_name)}" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :company_name, "#{t(:company_name)}" %>
        </div>
        <div>
          <%= f.text_field :company_name, class: "form-control", placeholder: "#{t(:enter_company_name)}" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :cnpj, "#{t(:cnpj)}" %>
        </div>
        <div>
          <%= f.text_field :cnpj, class: "form-control", placeholder: "#{t(:enter_cnpj)}" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :inscricao_estadual, "#{t(:inscricao_estadual)}" %>
        </div>
        <div>
          <%= f.text_field :inscricao_estadual, class: "form-control", placeholder: "#{t(:enter_inscricao_estadual)}" %>
        </div>
      </div>

      <div class="form-group">
        <div>
          <%= f.submit(@person.new_record? ? "#{t(:add_a_person)}" : "#{t(:update_person_register)}",
                            class: "btn btn-primary") %>
        </div>
      </div>
    <% end %>
    <br />
    <%= link_to t(:back), :back %>
  </div>
</div>
