<div id="page-wrapper">
  <div id="page-inner">
    <div class="container-fluid">
      <h2>Editando Cadastro</h2>
      <%= form_for(@person, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="col-md-2">
              <%= f.label :name, class:"control-label" %>
            </div>
            <div class="col-md-6">

              <%= f.text_field :name, class: "form-control", placeholder: "#{t(:enter_person_name)}" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" >
              <%= f.label :birthday %>
            <div class="select-date-wrapper">
            <%= date_select :person, :birthday, { start_year: 2017, end_year: 1905, order: [:day, :month, :year]}, class: "form-control select-date"  %>

          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="col-md-4">
              <%= f.label :gender %>
            </div>
            <div class="col-md-6">
            <%= f.radio_button :gender, :female %>
            <%= label :gender, t(:female) %>
            <%= f.radio_button :gender, :male, checked: true %>
            <%= label :gender, t(:male) %>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label><%= "#{t(:cpf)}" %></label>
            <%= f.text_field :cpf, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label><%= "#{t(:rg)}" %></label>
            <%= f.text_field :rg, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div style="margin-top: 20px">
              <%= f.label :gender,class:"control-label col-md-3" %>
            </div>
            <div style="margin-top: 28px">
              <%= f.radio_button :gender, :female %>
              <%= label :gender, t(:female) %>
              <%= f.radio_button :gender, :male, checked: true %>
              <%= label :gender, t(:male) %>
            </div>
          </div>
        </div>

        <!--<div class="type-person-no-display">
        <%#= f.select :type, ['Individual'] if @person.new_record?  %>
      </div>-->
      <br>
      <div class="form-group">
        <div>
          <%= f.submit(@person.new_record? ? "#{t(:add_a_person)}" : "#{t(:update_person)}",
          class: "btn btn-primary") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
