<div class="row">
  <div class="col-md-12">
    <%= form_for(@person, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="type-person-no-display">
        <%= f.select :type, ['Individual'] if @person.new_record?  %>
      </div>

      <div class="form-group">
        <div class="control-label col-md-5">
          <%= f.label :name, "#{t(:name)}" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :name, class: "form-control", placeholder: "#{t(:enter_person_name)}" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4>
            <%= t(:person_birthday) %>
          </h4>
          <div class="select-date-wrapper">
            <%= date_select :person, :birthday, { start_year: 2002, end_year: 1905, order: [:day, :month, :year]}, class: "form-control select-date"  %>
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12 form-gender-fix-position">
          <div class="col-md-4 col-md-offset-2 col-sm-4 col-offset-2 col-xs-6">
            <h4>
              <%= f.radio_button :gender, :female %>
              <%= label :gender, t(:female) %>
            </h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <h4>
              <%= f.radio_button :gender, :male, checked: true %>
              <%= label :gender, t(:male) %>
            </h4>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-5">
          <%= f.label :cpf, "#{t(:cpf)}" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :cpf, class: "form-control", placeholder: "#{t(:enter_cpf)}" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-5">
          <%= f.label :rg, "#{t(:rg)}" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :rg, class: "form-control", placeholder: "#{t(:enter_rg)}" %>
        </div>
      </div>

      <div>
        <%= f.select(:marital_status, options_for_enum(@person, :marital_status)) %>
      </div>

      <div class="form-group">
        <div class="col-md-offset-5 col-md-4 btn-group">
          <%= f.submit(@person.new_record? ? "#{t(:add_a_person)}" : "#{t(:update_person)}",
                            class: "btn btn-primary") %>
          <%= link_to "#{t(:home)}", root_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
