<div class="container">
  <div align="center">
    <%= render 'shared/errors', object: @person %>
    <div class="col-6">
      <%= render 'form_page_title', title: t(:select_person_type) %>

      <h3>
        <%= link_to t(:individual), new_individual_path %>
        •
        <%= link_to t(:company), new_company_path %>
      </h3>
    </div>
  </div>
</div>

<div class="row widget-row margin-bottom-20">
	<div class="col-md-6">
		<a href="/new_individual" class="btn btn-lg default col-md-12">
			<i class="icon-users"></i> <%= t(:individual) %>
		</a>
	</div>
	<div class="col-md-6">
		<a href="new_company" class="btn btn-lg default col-md-12">
			<i class="fa fa-file-text-o"></i><%= t(:company) %>
		</a>
	</div>




</div>
