<br>
<div class="container">
  <div class="col-12">
    <div align="center">
      <div>
        <h1>
          <%= link_to @person.name, person_path(@person) %>
        </h1>

        <p>
          <%= @person.type %>
        </p>



        <% if @person.type == 'Individual' %>
          <p>
            <%= t(:birthday) %>: <%= @person.birthday %>
          </p>
          <p>
            <%= t(:gender) %>: <%= @person.gender%>
          </p>

          <p>
            <%= t(:marital_status) %>: <%= @person.marital_status %>
          </p>

          <p>
            <%= t(:cpf) %>: <%= @person.cpf %>
          </p>

          <p>
            <%= t(:rg) %>: <%= @person.rg %>
          </p>
        <% else %>
          <p>
            <%= @person.company_name %>
          </p>
          <p>
          <%= t(:cnpj) %>: <%= @person.cnpj %>
          </p>

          <p>
            <%= t(:inscricao_estadual) %>: <%= @person.inscricao_estadual %>
          </p>
        <% end %>




        <% if current_user.has_role? :admin  %>
          <%= link_to "#{t(:delete)}", person_path(@person), method: :delete,
          data: {confirm: "#{t(:delete_person?)}"}, class: 'btn btn-danger' %>
        <% end %>
      </div>

      <hr />
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <h4>
                <%= t(:emails) %>
              </h4>
              <%= render @person.emails, emailable: @person %>
              <%= render 'emails/form', emailable: @person %>
            </div>

            <div class="col-6">
              <h4>
                <%= t(:phones) %>
              </h4>
              <%= render @person.phones, phonable: @person %>
              <%= render 'phones/form', phonable: @person %>
          </div>
        </div>
      </div>

      <hr />
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <h4>
              <%= t(:addresses) %>
            </h4>
            <%= render @person.addresses, addressable: @person %>
            <%= render 'addresses/form', addressable: @person %>
          </div>

          <div class="col-6">
            <h4>
              <%= t(:bank_accounts) %>
            </h4>
            <%= render @person.bank_accounts %>
            <%= render 'bank_accounts/form' %>
          </div>
        </div>
      </div>
    </div>
      <hr />

      <div>
        <h4>
          <%= t(:places) %>
        </h4>
        <br>
        <%= render @person.places %>
        <div>
          <%= link_to t(:add_new_place), new_place_path, class: 'btn btn-primary' %>
        </div>
        <br>
      </div>
    </ul>
  </div>
</div>
