<br>
<div class="row">
  <div class="col-12">
    <ul class="listing">
      <div class="col-md-4" align="center">
        <h1>
          <%= link_to @person.name, person_path(@person) %>
        </h1>
        <%= link_to "#{t(:delete)}", person_path(@person), method: :delete,
        data: {confirm: "#{t(:delete_person?)}"}, class: 'btn btn-danger' %>
      </div>

      <div>
        <h4>
          <%= t(:emails) %>
        </h4>
        <%= render @person.emails %>
        <%= render 'emails/form', emailable: @person %>
      </div>

      <hr />

      <div>
        <h4>
          <%= t(:phones) %>
        </h4>
        <%= render @person.phones %>
        <%= render 'phones/form', phonable: @person %>
      </div>

      <hr />

      <div>
        <h4>
          <%= t(:addresses) %>
        </h4>
        <%= render @person.addresses %>
        <%= render 'addresses/form', addressable: @person %>
      </div>

      <div>
        <h4>
          <%= t(:bank_accounts) %>
        </h4>
        <%= render @person.bank_accounts %>
        <%= render 'bank_accounts/form' %>
      </div>

      <hr />

      <div>
        <h4>
          <%= t(:places) %>
        </h4>
        <%= render @person.places %>
      </div>
    </ul>
  </div>
</div>
