
  <div class="container">
    <div align="center">
      <h2><%= t('.sign_in', :default => "Sign in") %></h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="col-md-4 col-md-offset-4">
          <%= f.email_field :email, class: 'form-control', placeholder: t(:email) %>
        </div>
        <br>
        <div class="col-md-4 col-md-offset-4">
          <%= f.password_field :password, class: 'form-control', placeholder: t(:password) %>
        </div>
        <br>
        <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div>
          <%= f.submit t('.sign_in', :default => "Sign in"), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>

    </div>
  </div>
