<div style="margin-top: 0;padding-left: 17%;background-color: #fff;">
   <div class="row">
      <div class="col-md-12">
         <!-- BEGIN VALIDATION STATES-->
         <div class="portlet-form bordered">

               <div class="portlet-body">

         <%= form_for([@person, @bank_account], validate: true, html: { class: "form-horizontal", role: "form" }) do |baf| %>
         <div class="form-body">
            <div class="form-group">
               <div class="control-label col-md-3">
                  <%= baf.label :bank_name, t(:bank_name) %>
               </div>
               <div class="col-md-4">
                  <%= baf.text_field :bank_name, class: "form-control", placeholder: I18n.t(:add_bank_name) %>
               </div>
            </div>
            <div class="form-group">
               <div class="control-label col-md-3">
                  <%= baf.label :bank_branch_number, t(:bank_branch_number) %>
               </div>
               <div class="col-md-4">
                  <%= baf.text_field :bank_branch_number, class: "form-control", placeholder: I18n.t(:add_bank_branch_number) %>
               </div>
            </div>
            <div class="form-group">
               <div class="control-label col-md-3">
                  <%= baf.label :account_number, t(:account_number) %>
               </div>
               <div class="col-md-4">
                  <%= baf.text_field :account_number, class: "form-control", placeholder: I18n.t(:add_account_number) %>
               </div>
            </div>
         </div>
         <div class="form-actions">
            <div class="row">
               <div class="col-md-4 col-md-offset-3">
                  <%= baf.submit class: 'btn btn-circle btn-primary' %>
                           <%= link_to t(:back), :back,class: "btn btn-default btn-circle" %>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>

</div>
</div>
