<%= form_for [@person, BankAccount.new] do |baf| %>
  <div class="form-group">
    <div class="control-label">
      <%= baf.label :bank_name, t(:bank_name) %>
    </div>
    <div>
      <%= baf.text_field :bank_name, class: "form-control", placeholder: I18n.t(:add_bank_name) %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label">
      <%= baf.label :bank_branch_number, t(:bank_branch_number) %>
    </div>
    <div>
      <%= baf.text_field :bank_branch_number, class: "form-control", placeholder: I18n.t(:add_bank_branch_number) %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label">
      <%= baf.label :account_number, t(:account_number) %>
    </div>
    <div>
      <%= baf.text_field :account_number, class: "form-control", placeholder: I18n.t(:add_account_number) %>
    </div>
  </div>
  <%= baf.submit class: 'btn btn-primary' %>
<% end %>
