
  <tr>
     <td> <%= address.street_address %> </td>
     <td><%= address.zip_code %></td>
     <td ><%= address.kind %></td>
     <td><%= address.city.name %> - <%= address.city.state.name %> - <%= address.city.state.country.name %></td>
     <td ><% if addressable == @person %>
       <%= link_to(edit_person_address_path(addressable, address), class: "btn btn-icon-only green pull-right") do %>
         <i class="fa fa-edit" aria-hidden="true" title="Editar"></i>
       <% end %>
        <%#= link_to t(:delete), person_address_path(addressable, address), method: :delete,
         data: { confirm: t(:delete_address?) }, class: 'btn btn-danger' if current_user.has_role? :admin %>
     <% else %>
       <%= link_to(edit_place_address_path(addressable, address), class: "btn btn-icon-only green pull-right") do %>
         <i class="fa fa-edit" aria-hidden="true" title="Editar"></i>
       <% end %>
       <%#= link_to t(:delete), place_address_path(addressable, address), method: :delete,
        data: { confirm: t(:delete_address?) }, class: 'btn btn-danger' if current_user.has_role? :admin %>
     <% end %>

  </tr>
