<script type="text/javascript">
  $(document).ready(function () {
    $("#select2-city").select2();
    $("#select2-state").select2();
    $("#select2-country").select2();
    theme : "bootstrap"
  });
</script>
<div class="container">
  <div align="center">
    <div class="col-6">

      <%= form_for [@addressable, @address] do |af| %>
      <div class="form-group">
        <div class="control-label">
          <%= af.label :street_address, t(:street_address) %>
        </div>
        <div>
          <%= af.text_field :street_address, class: "form-control", placeholder: I18n.t(:add_street_address) %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= af.label :zip_code, t(:zip_code) %>
        </div>

        <div>
          <%= af.text_field :zip_code, class: "form-control", placeholder: I18n.t(:add_zip_code) %>
        </div>
      </div>

      <div class="form-group">

          <div>
            <%= af.collection_select :country_id, Country.order(:name), :id, :name, { include_blank: false }, { multiple: false, class: 'form-control', id: 'select2-country' } %>
          </div>

      </div>

      <div class="form-group">

          <div>
            <%= af.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, { include_blank: false }, { multiple: false, class: 'form-control', id: 'select2-state' } %>
          </div>

      </div>

      <div class="form-group">

          <div>
            <%= af.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, { include_blank: false }, { multiple: false, class: 'form-control', id: 'select2-city' } %>
          </div>

      </div>

      <%= af.submit t(:update_address), class: 'btn btn-primary' %>
      <% end %>
      <br>
      <hr/>
      <%= link_to "#{t(:back)}", :back %>
    </div>
  </div>
</div>
