<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @course.product %>
</p>

<p>
  <strong>Courseload:</strong>
  <%= @course.courseLoad %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
