<div style="margin-top: 0;padding-left: 17%;background-color: #fff;">
   <div class="row">
      <div class="col-md-12">
         <!-- BEGIN VALIDATION STATES-->
         <div class="portlet light portlet-fit portlet-form bordered">

               <div class="portlet-body">
                     <%= form_for([@emailable, @email], validate: true, html: { class: "form-horizontal", role: "form" }) do |ef| %>
                     <div class="form-body"><br />
                        <div class="form-group">
                           <label class="control-label col-md-3"><%= t(:new_email) %></label>
                           <div class="col-md-4">
                              <%= ef.text_field :body, class: "form-control", placeholder: I18n.t(:add_new_email) %>
                           </div>
                         </div>

                       <br>
                          <div class="form-group">
                            <div class="col-md-3 control-label">
                              <label for="email_body"><%= t(:type) %></label>
                            </div>
                            <div class="col-md-3">
                              <%= ef.select :kind, options_for_enum(@email, :kind), {}, { class: 'form-control' } %>
                            </div>
                          </div>


                           <div class="form-group">
                             <div class="col-md-offset-3 col-md-4">

                              <%= ef.check_box :main, {}, true, false %>
                              <label for="email_body"><%= t(:main) %></label>
                            </div>

                           </div>
</div>

                        <div class="form-actions">
                          <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                              <%= ef.submit t(:create_email), class: 'btn btn-circle btn-primary' %>
                              <%= link_to t(:back), @emailable, class: "btn btn-default btn-circle" %>
                            </div>
                          </div>
                        </div>


                     </div>
                     <% end %>
                  </div>

         </div>
      </div>
   </div>
</div>
