<div style="margin-top: 0;padding-left: 17%;background-color: #fff;">
   <div class="row">
      <div class="col-md-12">
         <!-- BEGIN VALIDATION STATES-->
         <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-body">
               <%= form_for(@person, html: { class: "form-horizontal", role: "form" }) do |f| %>
               <div class="type-person-no-display" hidden>
                  <%= f.select :type, ['Service'] if @product.new_record? %>
               </div>
               <div class="form-body">
                  <br />
                  <div class="form-group">
                     <label class="control-label col-md-3"><%= t(:service_name) %></label>
                     <div class="col-md-4">
                        <%= f.text_field :service_name, class: "form-control", placeholder: t(:enter_service_name) %>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-3"><%= t(:service_description) %></label>
                     <div class="col-md-4">
                        <%= f.text_field :service_description, class: "form-control", placeholder: t(:enter_service_description) %>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-3"><%= t(:service_base_value) %></label>
                     <div class="col-md-4">
                        <%= f.text_field :service_base_value, class: "form-control", placeholder: t(:enter_service_base_value) %>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label col-md-3"><%= t(:service_category) %></label>
                     <div class="col-md-4">
                        <%= f.text_field :service_category, class: "form-control", placeholder: t(:enter_service_category) %>
                     </div>
                  </div>
               </div>
               <div class="form-actions">
                  <div class="row">
                     <div class="col-md-offset-3 col-md-4">
                        <%= f.submit(@product.new_record? ? t(:add_a_product) : t(:update_product),
                           class: "btn btn-primary btn-circle") %>
                        <%= link_to t(:back), :back,class: "btn btn-default btn-circle" %>
                     </div>
                  </div>
               </div>
               <% end %>
               <br /><br />
            </div>
         </div>
      </div>
   </div>
</div>
