<div class="page-content-wrapper">
   <!-- BEGIN CONTENT BODY -->
   <div class="page-content">
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->
      <h1 class="page-title"> <%= t(:product) %> </h1>
      <!-- END PAGE TITLE-->
      <!-- END PAGE HEADER-->
      <div class="row">
         <div class="col-md-12">

            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
               <div class="portlet-title">
                  <div class="caption">
                     <i class="fa fa-cogs"></i><%= t(:product_list) %>
                  </div>
               </div>
               <div class="portlet-body flip-scroll">
                  <table class="table table-bordered table-striped table-condensed flip-content">
                     <thead class="flip-content">
                        <tr>
                          <% if current_user.has_role? :admin %>
                            <th width="20%"><%= t(:id) %></th>
                          <% end %>
                          <th><%= t(:name) %></th>
                          <th> <%= t(:type) %> </th>
                          <th> <%= t(:category) %> </th>
                          <th class="numeric"> <%= t(:base_value) %> </th>
                          <th class="numeric"> <%= t(:action) %> </th>

                        </tr>
                     </thead>
                     <tbody>
                      <% @product.each do |product| %>
                        <tr>
                          <% if current_user.has_role? :admin %>
                            <td>
                              <%= product.id  %>
                            </td>
                          <% end %>
                           <td> <%= product.name %></td>
                           <% if product.type == 'Good' %>
                              <td > <%= t(:good) %> </td>
                           <% else %>
                              <td > <%= t(:service) %> </td>
                           <% end %>
                           <td> <%= product.category %></td>
                           td> <%= product.base_value %></td>
                           <td >
                             <%= link_to(product_path(product), class: "btn btn-circle btn-icon-only blue") do %>
                               <i class="fa fa-eye" aria-hidden="true"></i>
                             <% end %>
                             <%= link_to(edit_product_path(product), class: "btn btn-circle btn-icon-only green") do %>
                               <i class="fa fa-edit" aria-hidden="true"></i>
                             <% end %>
                             <%#= link_to t(:delete), person_path(person), method: :delete,
                                  data: {confirm: t(:delete_person?)}, class: 'btn btn-danger' %> </td>

                        </tr>
                      <% end %>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
            <!-- BEGIN SAMPLE TABLE PORTLET-->
         </div>
      </div>
   </div>
</div>
</div>
