<br>
<div style="margin-top: 0;padding-left: 14%;background-color: #fff;">
   <div class="row">
      <!-- BEGIN VALIDATION STATES-->
      <div class="portlet-form bordered">
         <div class="container-fluid">
            <div class="col-lg-12">
               <div>
                  <%= link_to(edit_product_path(@product), class: "btn btn-circle btn-lg green pull-right") do %>
                  <i class="fa fa-edit" aria-hidden="true" title="<%= t(:edit) %>"></i>
                  <% end %>
                  <h2><%= @product.id %> - <%= @product.name %></h2>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <% if @product.type.eql?('Good') %>
               <div class="form-group"><br>
                  <label class="control-label col-3"><%= t(:type) %></label>
                  <input class="form-control col-6" value="<%= t(:good) %>" disabled />
               </div>
               <div class="form-group" >
                  <label class="control-label col-3"><%= t(:stock) %></label>
                  <input class="form-control" value="<%= @product.stock %>" disabled />
               </div>
               <div class="form-group" >
                  <label class="control-label col-3"><%= t(:base_value) %></label>
                  <input class="form-control" value="<%= @product.base_value %>" disabled />
               </div>

               <% else %>
               <div class="form-group"><br>
                  <label class="control-label col-3"><%= t(:type) %></label>
                  <input class="form-control" value="<%= t(:service) %>" disabled />
               </div>
               <div class="form-group">
                  <label class="control-label col-3"><%= t(:base_value) %></label>
                  <input class="form-control" value="<%= @product.base_value %>" disabled />
               </div>
               <div class="form-group">
                  <label class="control-label col-3"><%= t(:category) %></label>
                  <input class="form-control col-6" value="<%= @product.category %>" disabled />
               </div>
               <% end %>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="form-group" >
                  <label class="control-label col-3"><%= t(:description) %></label>
                  <textarea class="form-control" rows="12" disabled><%= @product.description %></textarea>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr/>
</div>
