<script type="text/javascript">
  $(document).ready(function () {
    // Set up the Select2 control
    $('#select2-person').select2();
    theme : "bootstrap"
  });
</script>
<br>
<div class="container">
  <div align="center">
    <div class="col-6">
        <%= form_for(@place, html: { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="form-group">
            <div class="control-label">
              <%= f.label :name, "#{t(:place)}" %>
            </div>
            <div>
              <%= f.text_field :name, class: "form-control", placeholder: t(:enter_place_name) %>
            </div>
          </div>

          <div class="form-group">
            <div class="control-label">
              <%= f.label :person_id, t(:place_manager) %>
            </div>
              <div>
                <%= f.collection_select :person_id, Person.order(:name), :id, :name, {include_blank: false, value: :person_id}, { multiple: false, class: 'form-control', id: 'select2-person'} %>
              </div>

          </div>

          <div class="form-group">
            <div>
              <%= f.submit(@place.new_record? ? "#{t(:add_a_place)}" : "#{t(:update_place)}",
                                class: "btn btn-primary") %>
              <br>
            </div>
          </div>
        <% end %>
        <hr />
        <%= link_to t(:back), :back %>
    </div>
  </div>
</div>
