<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">

        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item start active open">
                <a href="/" class="nav-link nav-toggle">
                    <i class="icon-home">
                    </i>
                    <span class="title">
                      <%= t(:dashboard) %>
                    </span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase"><%= t(:menu) %></h3>
            </li>
            <li class="nav-item  ">
                <a href="#" class="nav-link nav-toggle">
                    <i class="fa fa-users"></i>
                    <span class="title"><%= t(:people) %></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/pt-BR/new_individual" class="nav-link ">
                            <span class="title"><%= t(:new_individual) %></span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/pt-BR/new_company" class="nav-link ">
                            <span class="title"><%= t(:new_company) %></span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/pt-BR/people" class="nav-link ">
                            <span class="title"><%= t(:people_list) %></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item  ">
                <a href="#" class="nav-link nav-toggle">
                  <i class="fa fa-building-o" aria-hidden="true"></i>
                    <span class="title"><%= t(:places) %></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                  <li class="nav-item  ">
                      <a href="/places/new/" class="nav-link ">
                          <span class="title"><%= t(:new_place) %></span>
                      </a>
                  </li>
                    <li class="nav-item  ">
                        <a href="/places/" class="nav-link ">
                            <span class="title"><%= t(:places_list) %></span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item  ">
                <a href="#" class="nav-link nav-toggle">
                  <i class="fa fa-cubes" aria-hidden="true"></i>
                    <span class="title"><%= t(:products) %></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                  <li class="nav-item  ">
                      <a href="/new_good" class="nav-link ">
                          <span class="title"><%= t(:new_good) %></span>
                      </a>
                  </li>
                    <li class="nav-item  ">
                        <a href="/new_service/" class="nav-link ">
                            <span class="title"><%= t(:new_service) %></span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/products/" class="nav-link ">
                            <span class="title"><%= t(:list_products) %></span>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="nav-item  ">
                <a href="#" class="nav-link nav-toggle">
                  <i class="fa fa-book" aria-hidden="true"></i>
                    <span class="title"><%= t(:courses) %></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                  <li class="nav-item  ">
                      <a href="/courses/new/" class="nav-link ">
                          <span class="title"><%= t(:new_course) %></span>
                      </a>
                  </li>
                    <li class="nav-item  ">
                        <a href="/courses/" class="nav-link ">
                            <span class="title"><%= t(:courses_list) %></span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item  ">
                <a href="#" class="nav-link nav-toggle">
                  <i class="fa fa-table" aria-hidden="true"></i>
                    <span class="title"><%= t(:grades) %></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                  <li class="nav-item  ">
                      <a href="/grades/new/" class="nav-link ">
                          <span class="title"><%= t(:new_grade) %></span>
                      </a>
                  </li>
                    <li class="nav-item  ">
                        <a href="/grades/" class="nav-link ">
                            <span class="title"><%= t(:grade_list) %></span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
              <%= render 'layouts/cart_text' %>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
