<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'IBC-SPro', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="#"><%= t(:home) %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t(:profile) %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t(:edit_profile), edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to t(:change_your_password), edit_user_registration_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t(:logout), destroy_user_session_path, method: :delete, class: 'dropdown-item'  %>
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t(:person_record) %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t(:new_company), new_company_path, class: 'dropdown-item' %>
              <%= link_to t(:new_individual), new_individual_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to t(:logout), destroy_user_session_path, method: :delete, class: 'dropdown-item'  %>
            </div>
          </li>
        </li>
        <li class="nav-item">
          <div class="nav-link disabled">
            <%= t(:logged_in_as) %> <strong><%= current_user.email %></strong>
          </div>
        </li>

      <% end %>
    </ul>
  </div>
</nav>
<hr />
