<!DOCTYPE html>
  <html>
    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', 'http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css',
      'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

      <%= javascript_include_tag 'application', 'https://code.jquery.com/ui/1.12.1/jquery-ui.js',
      'data-turbolinks-track': 'reload' %>

    </head>

    <body>
      <header>
        <%= render 'layouts/nav_bar' %>
      </header>

      <div id="wrapper">
        <%= render 'layouts/menu-sidebar' if user_signed_in? %>
      </div>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>

    </body>
  </html>
