<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="  ">
    <div class="bg-dark dk" id="wrap">
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav-menu' %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
