<!DOCTYPE html>
<html>
<% if request.fullpath != '/users/sign_in' %>
  <%= render 'layouts/head' %>
  <body class="  ">
    <div class="bg-dark dk" id="wrap">
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav-menu' %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
  </body>
<% else %>
  <%= render 'layouts/headLogin' %>
    <body class="login">
      <%= yield %>
    </body>
<% end %>
  <%= render 'layouts/footer' %>
</html>
